@import url('https://fonts.googleapis.com/css?family=Esteban|Montserrat:700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Esteban', serif;
}

*:focus {
  outline:none;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FFF7F8;
  color: hsla(0, 0%, 0%,0.8);
}
.title {
  margin-bottom: 20px;
  font-size: calc(2rem + 5vw);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.container {
  border-radius: 20px;
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  background: hsla(9, 100%, 64%, 0.8);
}

.counter{
  font-size: calc(1rem + 1vw);
  margin-bottom: 20px;
}
.setter{
  padding: 10px;
  display: flex;
  justify-content: space-evenly;  
}

.setter button {
  background: transparent;
  font-size: calc(1rem + 0.5vw);
  padding: 0 0.5rem;
  cursor: pointer;
  border: none;
}

.timer {
  font-size: 50px;
  margin: 10px auto;
  border: 5px solid hsla(0, 0%, 0%,0.7);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.time {
  margin-top: 70px;
  z-index: 1;
  position: relative;
}

.filler {
  background: #ddffcc;
  height: 0px;
  width: 200px;
  position: absolute;
  bottom: 0;
}

.buttons button {
  border: none; 
  cursor: pointer;
  padding: 5px;
  width: 90px;
  margin: 10px;
  font-size: 1.3rem;
  height: 50px;
  border-radius: 10px;
    
}
